@model BnetLeaderboard.Models.ResourceModels.RegionLadderResult
@{
    ViewData["Title"] = Model.Region.ToUpper() + "leader board";
    var rank = 1;
}
<h2>@Model.Region.ToUpper() leader board</h2>
<table style="margin: 0px auto;">
    <th style="padding-right: 50px">Rank</th>
    <th style="padding-right: 50px">Name</th>
    <th style="padding-right: 50px">Race</th>
    <th style="padding-right: 50px">MMR</th>
    @foreach (var player in Model.Players)
    {
        <tr>
            <td>
                @rank
            </td>
            <td>
                @Html.DisplayFor(modelItem => player.DisplayName) <br/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => player.FavoriteRace)<br/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => player.Mmr)<br/>
            </td>
        </tr>
        rank++;
    }
</table>